<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper footer-inner">
    <p class="footer-title p-name">{{ site.title | escape }}</p>
    <p class="footer-description">{{ site.description | escape }}</p>
    <ul class="footer-links">
      {%- if site.email -%}
        <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
      {%- endif -%}
      {%- if site.github_username -%}
        <li><a href="https://github.com/{{ site.github_username | cgi_escape | escape }}">GitHub</a></li>
      {%- endif -%}
    </ul>
  </div>
</footer>
